@charset "utf-8";

*,*::after,*::before {box-sizing:border-box;}

.device {
    position:absolute;
    left:50%;
    top:50%;
    padding:90px 10px;
    background:#171717;
    border:5px solid #2f2f2f;
    box-shadow:0 0 50px 10px rgba(0,0,0,0.4);
    border-radius:60px;
    transform:translate(-50%, -50%);
}
.device:before, .device:after {
    content:"";
    position:absolute;
    z-index:2;
}
.device:before {
    top:40px;
    left:50%;
    width:18%;
    height:7px;
    background:#2f2f2f;
    border-radius:10px;
    transform:translateX(-50%);
}
.device:after {
    bottom:20px;
    left:50%;
    width:30px;
    height:30px;
    border-radius:50%;
    border:5px solid #2f2f2f;
    transform:translateX(-50%);
}
.device iframe {
    width:360px;
    height:500px;
    margin-left:auto;
    margin-right:auto;
    background:#fff;
}










